* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.main {
    margin-top: 80px;
}

.nav_bar {
    background-color: #179b4a;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.nav_bar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.nav_bar li {
    list-style: none;
}

.nav_bar a {
    text-decoration: none;
    color: white;
}

.nav_bar a:hover {
    color: #4b4a54;
    transition: all 0.4s ease;
}

.main {
    background-color: #d7fadb;
}

.box {
    background-color: #f3fcf4;
    width: 90%;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.t1 {
    text-align: center;
    font-size: 40px;
}

.t2 {
    text-align: center;
    font-family: 'Candal', sans-serif;
    font-size: 25px;
    margin-top: 30px;
}

#intro {
    padding-top: 40px;
}

.t3 {
    text-align: center;
    font-size: 40px;
    font-family: 'Aleo', sans-serif;
}

#greet {
    padding-top: 20px;
}

#About {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
}

.heading {
    text-align: center;
    font-size: 40px;
    color: #2f4858;
    margin: 20px 0;
}

#Achievements {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
}

#ExtraCurriculars li {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
}

#ExtraCurriculars h2 {
    color: #127839;
    font-size: 20px;
}

#Projects {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#Projects h3 {
    color: #0b4e25;
    font-size: 18px;
    padding-top: 25px;
}

#Projects h2 {
    color: #127839;
    font-size: 25px;
    margin-bottom: 10px;
}

#tech ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

#tech li {
    margin: 10px;
    padding: 10px;
    border: 1px solid #3e5462;
    border-radius: 8px;
    background-color: #d7fadb;
}

#id2 h3 {
    text-align: center;
    color: rgb(134, 79, 11);
    font-size: 18px;
    margin-top: 20px;
}

.skills-bar {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.skills-bar li {
    margin-bottom: 20px;
}

.skill-name {
    width: 60px;
    font-size: 18px;
}

.skill-bar {
    flex: 1;
    height: 15px;
    background-color: #ccc;
    margin-left: 10px;
    position: relative;
}

.skill-level {
    height: 100%;
    background-color: #4CAF50;
}

#id6 p {
    text-align: center;
    color: #164802;
    font-size: 18px;
    margin: 20px;
}

label {
    margin-top: 10px;
    color: #034d43;
    font-size: 18px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    outline: none;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 50%;
    transform: translateX(-50%);
}

button:hover {
    background-color: #45a049;
}

footer {
    color: rgb(3, 68, 62);
    background-color: #95c89d;
    padding: 20px;
    text-align: center;
}

#fname {
    font-size: 24px;
    margin-bottom: 20px;
}

footer ul {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

footer li {
    list-style: none;
    margin: 0 10px;
}

footer li a {
    text-decoration: none;
    color: #1d5540;
    font-size: 18px;
}

#fcr {
    font-size: 18px;
    color: rgb(82, 2, 52);
}

#contact {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #64022e;
}

#contact p {
    margin-bottom: 20px;
}

#contact ul {
    display: flex;
    justify-content: center;
}

#contact li {
    padding: 20px;
}

#gmail,
#linkedin,
#github {
    height: 30px;
    width: 30px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .nav_bar ul {
        flex-direction: column;
        align-items: center;
    }

    .nav_bar li {
        padding: 15px 0;
    }

    .box {
        margin: 30px auto;
        padding: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .nav_bar ul {
        flex-direction: column;
        align-items: center;
    }

    .nav_bar li {
        padding: 10px 0;
    }

    .box {
        margin: 20px auto;
        padding: 10px;
    }

    .t1 {
        font-size: 30px;
    }

    .t2 {
        font-size: 20px;
    }

    .t3 {
        font-size: 30px;
    }

    #greet {
        padding-left: 0;
    }

    #About {
        font-size: 16px;
    }

    .heading {
        font-size: 30px;
    }

    #Achievements,
    #ExtraCurriculars li,
    #Projects,
    #Projects h3,
    #Projects h2,
    #tech li,
    #id2 h3,
    .skill-name,
    label,
    input,
    textarea,
    button,
    #contact,
    #contact p,
    #fcr {
        font-size: 16px;
    }

    footer {
        flex-direction: column;
    }

    #fname {
        font-size: 20px;
    }

    footer li a {
        font-size: 16px;
    }
}
